
	// Objects

	// Grid to flex it if necessary
	// Third, half, quarter, fifth, sixth, with modifiers for 2 thirds, 3 quarters etc.
	// Modifier classes to align to center or right


	.o-grid {

		&__grid {
			display: flex;
			flex-wrap: wrap;
		}

		&__third {

			width: 100%;

			@include breakpoints($tablet) {
				width: 33.3%;
			}

			&--2 {

				width: 100%;

				@include breakpoints($tablet) {
					width: 66.6%;
				}
			}
		}

		&__half {

			width: 100%;

			@include breakpoints($tablet) {
				width: 50%;
			}
		}

		&__quart {

			width: 100%;

			@include breakpoints($tablet) {
				width: 25%;
			}

			&--3 {

				width: 100%;

				@include breakpoints($tablet) {
					width: 75%;
				}
			}
		}

		&__fifth {

			width: 100%;

			@include breakpoints($tablet) {
				width: 20%;
			}

			&--2 {

				width: 100%;

				@include breakpoints($tablet) {
					width: 40%;
				}
			}

			&--3 {

				width: 100%;

				@include breakpoints($tablet) {			
					width: 60%;
				}
			}

			&--4 {

				width: 100%;

				@include breakpoints($tablet) {
					width: 80%;
				}
			}
		}

		&__sixth {

			width: 100%;

			@include breakpoints($tablet) {
				width: 16.66%;
			}

			&--3 {

				width: 100%;

				@include breakpoints($tablet) {
					width: 49.98%;
				}
			}

			&--4 {

				width: 100%;

				@include breakpoints($tablet) {
					width: 66.64%;
				}
			}

			&--5 {

				width: 100%;

				@include breakpoints($tablet) {
					width: 83.3%;
				}
			}
		}

		&--center {
			margin: 0 auto;
		}

		&--right {
			margin: 0 0 0 auto;
		}
	}