
	//Components

	.c-cta {

		@include fluid-type-size($fontSizeS);

		&--text {
			border-bottom: 1px solid $primaColour;

			&:hover {
				border-bottom: 0;
			}
		}

		&--box {
			@include fluid-attribute('padding-top', 8px, 10px);
			@include fluid-attribute('padding-bottom', 8px, 10px);
			@include fluid-attribute('padding-left', 15px, 25px);
			@include fluid-attribute('padding-right', 15px, 25px);
		}

		&--prima {
			background-color: $primaColour;
			color: $lightColour;
			border: 1px solid $primaColour;

			&:hover {
				background-color: transparent;
				color: $primaColour;
			}
		}

		&--secon {
			background-color: $seconColour;
			color: $lightColour;
			border: 1px solid $seconColour;

			&:hover {
				background-color: transparent;
				color: $seconColour;
			}
		}
	}