
	// Settings

	$primaColour: rgb(2,2,11);
	$seconColour: rgb(125, 140, 163);
	$tertiColour: rgb(121, 169, 209);
	$quartColour: rgb(72, 67, 73);
	$quintColour: rgb(223, 226, 207);

	$lightColour: rgb(250,250,250);
	$darkColour: rgb(0,0,0);

	$black: rgb(0,0,0);
	$white: rgb(250, 250, 250);