
	// Settings

	$baseFont: 'Open Sans', sans-serif;
	$headerFont: 'Ramaraja', serif;

	$baseLineHeight: 1.4;
	$headingLineHeight: 1.1;

	$baseFontSize: 20px;
	$bodyFontSize: 18px;
	
	$baseFontColour: #000;

	// Set base font sizes

	$fontSizeS: (
		'min' : 12px,
		'max' : 14px
	);

	$fontSizeM: (
		'min' : 14px,
		'max' : 16px
	);

	$fontSizeBody: (
		'min' : 16px,
		'max' : 18px		
	);

	$fontSizeL: (
		'min' : 20px,
		'max' : 24px
	);

	$fontSizeXL: (
		'min' : 24px,
		'max' : 28px
	);

	$fontSizeXXL: (
		'min' : 28px,
		'max' : 34px
	);

	$fontSizeXXXL: (
		'min' : 32px,
		'max' : 40px
	);

	$fontSizeXXXXL: (
		'min' : 34px,
		'max' : 46px
	);