
	// Patterns

	.p-nav {
		$closeWidth: 20px;
		$closeHeight: 16px;
		@include fluid-attribute('margin-bottom', $spaceS, $spaceL);
		font-family: $headerFont;

		position: relative;
		z-index: map-get($zindex, 'highest');
		display: flex;
		justify-content: center;
		width: 100%;
		min-height: $closeHeight;

		@include breakpoints($tablet) {
			justify-content: flex-end;
		}

		&__check, &__close {
			position: absolute;
			right: 0;
			top: 2px;

			@include breakpoints($smallTablet) {
				display: none;
			}
		}

		&__menu {
			font-family: $baseFont;
			text-transform: uppercase;
			position: absolute;
			top: -1px;
			right: 30px;

			@include breakpoints($smallTablet) {
				display: none;
			}
		}

		&__close {
			width: $closeWidth;
			height: $closeHeight;
		}

		&__icon {
			display: block;
			position: relative;
			width: $closeWidth;
			height: $closeHeight;
			transition: all 0.5s ease-out;
			border-bottom: 2px solid $seconColour;

			&:before, &:after {
				position: absolute;
				display: block;
				content: '';
				width: $closeWidth;
				height: 2px;
				background-color: black;
				transition: all 0.5s ease-out;
			}

			&:after {
				top: $closeHeight/2 - 1;
			}

			&.active {
				background-color: $quintColour;
				border-bottom-color: $quintColour;

				&:before, &:after {
					top: ($closeHeight/2);
					left: 3px;
					width: $closeWidth - 6px;
					background-color: $seconColour;
				}

				&:before {
					transform: rotate(135deg);
				}

				&:after {
					transform: rotate(-135deg);
				}
			}
		}

		&__check {
			cursor: pointer;
			opacity: 0;
			width: 80px;
			height: 20px;

			&:checked {
				+ * {
					height: auto;
					opacity: 1;
					margin: 20px 0 0;
					animation: animateMenu 0.5s linear;
				}
			}
		}

		&__list {
			opacity: 0;
			height: 0;
			padding: 0;
			width: 100%;
			list-style-type: none;

			@include breakpoints($smallTablet) {
				margin: 0;
				opacity: 1;
				height: auto;
				display: flex;
				width: auto;
			}
		}

		&__item {
			@include fluid-attribute('margin-right', 10px, 20px);
			transition: background-color 0.5s ease-out;
			position: relative;
			padding: 0 2px;

			&:before {				
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				height: rem-it(24px);
				width: 100%;
				background-color: $tertiColour;
				opacity: 0;
			}

			&:hover {

				&:before {
					animation: animateItem 0.5s ease-out forwards;
				}
			}
		}

		&__link {
			display: block;
			position: relative;

			&:before {

				@include breakpoints($smallTablet) {
					content: '';
					position: absolute;
					left: 0;
					bottom: -10px;
					opacity: 0;
					width: 100%;
					height: 2px;
					background-color: $seconColour;
				}
			}

			&:hover {
				color: $primaColour;

				@include breakpoints($smallTablet) {

					&:before {
						animation: animateLinks 0.4s ease-out forwards;
					}
				}
			}
		}
	}

	@keyframes animateMenu {
    	from {
    		opacity: 0;
    		margin: 0;
    	}
	    to {
			opacity: 1;
			margin: 20px 0 0;
		}
	}

	@keyframes animateLinks {
		0% {
			opacity: 0;
			bottom: -10px;
		}
		100% {
			bottom: 0;
			opacity: 1;
		}
	}

	@keyframes animateItem {
		0% {
			opacity: 0;
			width: 0;
		}
		80% {
			opacity: 1;
			width: 100%;
		}

		100% {
			opacity: 1;
			width: 100%;
			background-color: $white;	
		}
	}