
	// Tools 

	$spaceXXL: 100px;
	$spaceXL: 80px;
	$spaceL: 60px;
	$spaceM: 40px;
	$spaceS: 20px;
	$spaceXS: 15px;
	$spaceXXS: 10px;

	@mixin space($type:padding, $size: $spaceM) {
		@if $size == 'xxl' {
			@include fluid-attribute($type, $spaceXL, $spaceXXL);
		}
		@if $size == 'xl' {
			@include fluid-attribute($type, $spaceL, $spaceXL);
		}
		@if $size == 'l' {
			@include fluid-attribute($type, $spaceM, $spaceL);
		}
		@if $size == 'm' {
			@include fluid-attribute($type, $spaceS, $spaceM);
		}
		@if $size == 's' {
			@include fluid-attribute($type, $spaceXS, $spaceS);
		}
		@if $size == 'xs' {
			@include fluid-attribute($type, $spaceXXS, $spaceXS);
		}
	}