
	// Tools
	// Media queries for responsivity

	$mobile: 350px;
	$smallTablet: 480px;
	$phablet: 550px;
	$tablet: 768px;
	$largeTablet: 920px;
	$desktop: 1024px;
	$wide: 1200px;
	$wider: 1400px;
	$ultraWide: 1600px;
	$superUltraWide: 2000px;
	$theWidest: 2500px;

	@mixin breakpoints($point) {
		@media (min-width: rem-it( $point) ) { @content ; }
	}